<!-- ================= ABOUT ================= -->

<section id="about" class="about-section">

    <div class="container">

        <div class="row align-items-center g-5">

            <!-- Left -->

            <div class="col-lg-6">

                <span class="about-tag">
                    ABOUT US
                </span>
                <h2 class="fw-bold mt-3 about-title">

                    Smart POS &
                    <span class="text-primary">
                        Billing Software
                    </span>

                    for Modern Businesses

                </h2>

                <p class="about-desc mt-4">

                    Bros IT Solutions provides powerful POS Billing Software,
                    Inventory Management, GST Billing, Cloud Backup,
                    Multi-Branch Management and Business Automation
                    solutions for every growing business.

                </p>

                <p class="about-desc">

                    Our software is designed to simplify billing,
                    improve inventory accuracy,
                    increase business productivity
                    and provide real-time business reports
                    from anywhere.

                </p>

                <div class="mt-4 ">

                    <a routerLink="/contact" routerLinkActive="active-link"
                        class="btn btn-primary btn-lg rounded-pill px-4 ">


                        Contact Us

                    </a>

                </div>

                <div class="row mt-4">

                    <div class="col-md-6 mb-3">

                        <div class="about-feature">

                            <i class="ri-checkbox-circle-fill"></i>

                            <span>Fast Billing</span>

                        </div>

                    </div>

                    <div class="col-md-6 mb-3">

                        <div class="about-feature">

                            <i class="ri-checkbox-circle-fill"></i>

                            <span>GST Ready</span>

                        </div>

                    </div>

                    <div class="col-md-6 mb-3">

                        <div class="about-feature">

                            <i class="ri-checkbox-circle-fill"></i>

                            <span>Cloud Backup</span>

                        </div>

                    </div>

                    <div class="col-md-6 mb-3">

                        <div class="about-feature">

                            <i class="ri-checkbox-circle-fill"></i>

                            <span>24×7 Support</span>

                        </div>

                    </div>

                </div>

                <div class="mt-4 d-flex justify-content-center justify-content-lg-start gap-3 flex-wrap">

                    <a href="../../../assets/pdf/BROS IT SOLUTIONS NEW.pdf" download="Bros-IT-Solutions-Brochure.pdf"
                        class="btn btn-warning rounded-pill cont-down brochure-btn">

                        Download Brochure
                        <i class="ri-arrow-down-circle-line ms-2"></i>

                    </a>

                    <a href="../../../assets/pdf/PRINTER & HARDWARE.pdf" download="PRINTER-HARDWARE.pdf"
                        class="btn btn-warning rounded-pill cont-down brochure-btn">

                        Download Brochure
                        <i class="ri-arrow-down-circle-line ms-2"></i>

                    </a>

                </div>



            </div>

            <!-- Right -->

            <div class="col-lg-6 text-center">

                <img src="../../../assets/img/bros-logo.jpg" class="img-fluid about-img" alt="About">

            </div>

        </div>

    </div>

</section>