<!-- <div class="hero-wrapper">

  <div class="slider">

    <img
      [src]="images[currentIndex]"
      class="banner"
      alt="Banner">

    <button
      class="nav-btn prev"
      (click)="previousSlide()">

      <i class="ri-arrow-left-s-line"></i>

    </button>

    <button
      class="nav-btn next"
      (click)="nextSlide()">

      <i class="ri-arrow-right-s-line"></i>

    </button>

  </div>

</div> -->

<div class="hero-wrapper">

    <div class="slider">

        <img
            [src]="images[currentIndex]"
            class="banner"
            alt="Hero Banner">

        <button
            class="nav-btn prev"
            (click)="previousSlide()">

            <i class="ri-arrow-left-s-line"></i>

        </button>

        <button
            class="nav-btn next"
            (click)="nextSlide()">

            <i class="ri-arrow-right-s-line"></i>

        </button>

    </div>

</div>