<!-- <div class="top-header" [class.hide]="hideHeader">
  <div class="container">
<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
<a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <div class="left-links">
      <a href="#">Home</a>
      <a href="#">Dashboard</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>

    <div class="right-links">
      <a href="#">Login</a>
      <a href="#">Register</a>
    </div>
     </div>
</div> -->

<!-- <div class="top-header" [class.hide]="hideHeader">
  <div class="container">
    <div class="left-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>

    <div class="right-links">
      <a href="#">Login</a>
      <a href="#">Register</a>
    </div>
  </div>
</div> -->

       <!-- Theme Button -->
        <!-- <div class="d-flex align-items-center gap-2">
        <button class="theme-toggle" aria-label="Toggle dark mode" (click)="toggleTheme()">
        <i [attr.data-lucide]="theme === 'dark' ? 'sun' : 'moon'" style="width:18px;height:18px"></i>
      </button>
      <button class="theme-toggle mobile-menu-btn" aria-label="Open menu" (click)="toggleMobileMenu()">
        <i data-lucide="menu" style="width:18px;height:18px"></i>
      </button>
    </div> -->
 