
  <!-- <div class="chat-popup"> -->

    <!-- <div class="popup-header">
      <img src="assets/img/bros-logo.jpg" alt="Bros IT Solutions"> -->

      <!-- <div>
        <h5>Bros IT Solutions</h5>
        <span>Typically replies instantly</span>
      </div>

    </div>

    <div class="popup-body">

      <h4>Chat with us!</h4>

      

    </div> -->

    <!-- <div class="popup-footer">

      <a
        href="https://wa.me/918754031480"
        target="_blank">

        <i class="ri-whatsapp-fill"></i>

        Start Chat

      </a>

    </div>

  </div> -->

<!-- <div class="whatsapp-widget">
<i class="ri-whatsapp-fill"></i>
<span>Chat with us</span>
<img
  src="assets/img/whatsapp-logo.png"
  alt="WhatsApp"
  class="whatsapp-logo">

<span>Chat with us</span>
  <a
    class="chat-button"
    href="https://wa.me/918754031480"
    target="_blank">

      <i class="ri-whatsapp-fill"></i>

      <span>Chat with us</span>

  </a>

</div> -->
<!-- <div class="popup-header">
      <img src="assets/img/bros-logo.jpg" alt="Bros IT Solutions">
<a
  href="https://wa.me/918754031480"
  target="_blank"
  class="chat-button">

  <img
    src="assets/img/w.png"
    alt="WhatsApp"
    class="whatsapp-logo">

  <span>Chat with us</span>

</a>
</div> -->

<a
  href="https://wa.me/9363617197"
  target="_blank"
  class="chat-button">

    <img
      src="assets/img/w.png"
      alt="WhatsApp"
      class="whatsapp-logo">

    <span>Chat with us</span>

</a>