<!-- <button class="menu-btn" (click)="toggleSidebar()">
☰
</button> -->


<!-- <div
  class="overlay"
  *ngIf="isOpen"
  (click)="closeSidebar()">
</div> -->
<!-- <div class="container mt-5">
  <h1>Customers Page</h1>

  <p>Welcome to Customers Module</p>
</div> -->

<!-- <div class="sidebar" [class.open]="isOpen">
  

  <h2>Bros IT Solutions</h2>

  <ul>

    <li>Dashboard</li>
    <li> <a routerLink="/product" (click)="closeSidebar()">Products</a></li>
    <li> <a routerLink="/customers" (click)="closeSidebar()">Customers</a></li>
    <li>Billing</li>
    <li>Reports</li>
    <li>Settings</li>

  </ul> -->

<!-- </div> -->